{% extends "stallion:common-base.jinja" %}

{% block builtin_head_bundles %}
<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">-->
<link rel="icon" href="{{ assets.resource('/images/folkmot-icon-white.png', 'clubby') }}" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
{{ assets.bundle("stallion", "stallion-ui-lib.bundle.css") }}
{{ assets.bundle(pluginName, "app.bundle.css") }}
{% endblock %}

{% block bundle_css %}
{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block body_content %}
<div class="container-fluid">
    <div id="app-wrap">
      <div id="{{ pluginName }}-app">
          <div class="row" style="margin-top: 0px;padding-top:0px;">
            <div id="vue-app"  style="margin-top: 0px;padding-top:0px; border-top: 1px solid #000;">
              <app-loading-mask></app-loading-mask>
              <ws-connection-toast></ws-connection-toast>
              <channel-sidebar></channel-sidebar>
              <div id="clubhouse-main-view" class="wdt-emoji-picker-parent">
                <mobile-view-topbar></mobile-view-topbar>
                
                <transition name="fade">
                  <router-view></router-view>
                </transition>
              </div>
            </div>
          </div><!--/row-->
      </div><!--end /presto-app-->
    </div>
</div><!--/container-->
<div style="display:none;">
  <img id="chat-off-image" src="{{ assets.resource('/images/folkmot-icon-blue.png', 'clubby') }}">
  <img id="chat-active-image" src="{{ assets.resource('/images/folkmot-icon-white2.png', 'clubby') }}">
</div>
{% endblock %}

{%-- block builtin_footer_bundles --%}

{%-- endblock --%}
{%-- block bundle_js --%}
<script type="text/javascript">

    var theApplicationContext = {{ theApplicationContextJson }};


</script>

{{ assets.bundle("stallion", "stallion-ui-lib.bundle.js") }}
{{ assets.bundle(pluginName, "app.bundle.js") }}
{%-- endblock --%}

{% block pre_end_body %}
{% endblock %}
