{% extends "stallion:common-base.jinja" %}

{% block builtin_head_bundles %}
{{ assets.bundle(pluginName, "app.bundle.css") }}
{% endblock %}

{% block bundle_css %}
{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block body_content %}
<div class="container-fluid">
    <div id="app-wrap">
        <div id="{{ pluginName }}-app">
            <div class="row" style="margin-top: 0px;padding-top:0px;">
              <div id="vue-app"  style="margin-top: 0px;padding-top:0px; border-top: 1px solid #000;">
                <channel-sidebar></channel-sidebar>
                <div class="">
                  <router-view></router-view>
                </div>
              </div>
            </div><!--/row-->
        </div><!--end /presto-app-->
    </div>
</div><!--/container-->

{% endblock %}

{%-- block builtin_footer_bundles --%}

{%-- endblock --%}
{%-- block bundle_js --%}
{{ assets.bundle(pluginName, "app.bundle.js") }}
{%-- endblock --%}

{% block pre_end_body %}
<script type="text/javascript">

    var theApplicationContext = {{ theApplicationContextJson }};

</script>
{% endblock %}
