<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{ meta.generator }}" />
  <meta name="description" content="{{ meta.description|e }}">
  <meta property="og:title" content="{{ meta.title|e }}" />
  <meta property="og:type" content="{{ meta.ogType }}" />
  <meta property="og:url" content="{{ meta.url }}" />
  <meta property="og:image" content="{{ meta.image }}" />
  <meta property="og:description" content="{{ meta.description|e }}" />

  <title>{{ siteMeta.title|e }}</title>

  <link rel="canonical" href="{{ meta.url }}" />


{% block builtin_head_bundles %}
<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">-->
<link rel="icon" href="{{ assets.resource('/images/folkmot-icon-white.png', 'clubby') }}" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">


{{ assets.bundle(pluginName, "app3.bundle.css") }}

{% endblock %}

{% block bundle_css %}
{% endblock %}

{% block extra_meta %}
{% endblock %}

</head>
<body id="st-{{ siteMeta.bodyCssId }}" class="{% for className in meta.cssClasses %}{{className}} {% endfor %}">

{% block body_content %}
<div class="container-fluid">
    <div id="app-wrap">
      <div id="{{ pluginName }}-app">
          <div class="row" style="margin-top: 0px;padding-top:0px;">
            <div id="vue-app"  style="margin-top: 0px;padding-top:0px; border-top: 1px solid #000;">
              <app-loading-mask></app-loading-mask>
              <ws-connection-toast></ws-connection-toast>
              <channel-sidebar></channel-sidebar>
              <div id="clubhouse-main-view" class="wdt-emoji-picker-parent">
                <mobile-view-topbar></mobile-view-topbar>
                
                <transition name="fade">
                  <router-view></router-view>
                </transition>
              </div>
            </div>
          </div><!--/row-->
      </div><!--end /presto-app-->
    </div>
</div><!--/container-->
<div style="display:none;">
  <img id="chat-off-image" src="{{ assets.resource('/images/folkmot-icon-blue.png', 'clubby') }}">
  <img id="chat-active-image" src="{{ assets.resource('/images/folkmot-icon-white2.png', 'clubby') }}">
</div>
{% endblock %}

{%-- block builtin_footer_bundles --%}

{%-- endblock --%}
{%-- block bundle_js --%}
<script type="text/javascript">

    var theApplicationContext = {{ theApplicationContextJson }};


</script>


{{ assets.bundle(pluginName, "app3.bundle.js") }}
{%-- endblock --%}

{% block pre_end_body %}
{% endblock %}

</body>
</html>


