/* App.scss */
body, html {
    font-family: sans-serif;
    background-color: #F2F2F2;

}
#app-wrap {
    
}
#clubhouse-main-view {
    margin-left: 220px;
}
.embed-iframe {
    border: 1px solid transparent;
    border-left: 4px solid #CCC;
    width: 100%;
}
.one-column-screen {
    max-width: 800px;
    margin-left: 20px;
    margin-top: 2em;
}
