/* App.scss */
body, html {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*'Open Sans', 'sans-serif';*/
    font-family: 'Source Sans Pro',  'sans-serif';
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}
body, html {
    font-size: 15px;
}

h1 {

}
h2 {

}
h3 {

}

h4 {

}

h5 {

}
h6 {

}
.st-message-fixed {
    z-index: 200;
}
.form-explanation {
    margin-top: -5px;
    margin-bottom: 6px;
    color: #888;
}
#app-wrap {
    
}

.embed-iframe {
    border: 1px solid transparent;
    border-left: 4px solid #CCC;
    width: 100%;
}
.one-column-screen {
    max-width: 800px;
    margin-left: 20px;
    margin-top: 1em;
    h3:first-child {
        margin-top: 0em;
        margin-bottom: .6em;
    }
}


.column-fixed-header {
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10;

    .header-meta {
        color: #888;
        font-size: 12px;
        a {
            font-size: 13px;
            color: #888;
        }
        .material-icons {
            vertical-align: 15%;
            font-size: 14px;
            color: #888;
        }
    }
    .breadcrumb-link {
        .material-icons {
            font-size: 14px;
            color: #337ab7;
            vertical-align: -13%;
        }
    }
    .hash-icon {
        font-size: 18px;
    }
    
    .column-header-right {
        display: inline-block;
    }
    .column-header-search {
        display: inline-block;
        position: absolute;
        right: 230px;
        input.form-control {
            margin-left: 7px;
            width: 320px;
            height: 28px;
        }
    }
    
    .column-header-name {
        vertical-align: 0%;
        display: inline-block;
        .material-icons {
            font-size: 16px;
            vertical-align: -20%;
        }
    }
    .column-header-text  {
        vertical-align: 23%;             
    }
    .column-header-text-icon, .column-header-icon {
        color: #333;
        vertical-align: -20%;
        margin-right: 4px;
    }
    a.column-header-text-icon:hover {
        text-decoration: none;
    }
    .column-header-text-icon {
        
    }         

    .material-icons {
        color: #666;
        font-size: 20px;
    }

    .channel-favorite.material-icons {
        cursor: pointer;
    }
    
    .channel-favorite:hover .material-icons  {
        color: #333;

    }
    .channel-favorite.channel-favorite-on .material-icons {
        color: #eae080;
    }
}

/* Layout */

.channel-sidebar-vue {
    left: -220px;
    width: 220px;
}

#clubhouse-main-view {
    margin-right: 0px;
}
.mobile-view-topbar-vue {
    height: 50px;
}

.channel-sidebar-vue.popped-up {
    display: block;
    z-index: 250;
    -webkit-animation: slide 0.15s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.15s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.channel-feed-vue .channel-messages, .post-message-box {
    width: 100vw;
}

@media (min-width: 700px) {
    .mobile-view-topbar-vue {
        display: none;
    }
    
    #clubhouse-main-view {
        margin-left: 220px;
    }
    .channel-sidebar-vue {
        left: 0px;
        width: 220px;
    }
    .channel-feed-vue .channel-messages, .post-message-box {
        width: calc(100hw-220px);
    }
    
}

@media (min-width: 905px) {
    .channel-feed-vue .channel-messages, .post-message-box {
        max-width: 500px;
        width: calc(100vw-400px);
    }
    .channel-right-panel {
        padding-top: 70px;
        width: 200px;
        float: right;
    }
}


@media (min-width: 1100px) {

    .channel-feed-vue .channel-messages, .post-message-box {
        width: 700px;
        max-width: 700px;
    }
    .channel-right-panel {
        padding-top: 70px;
        width: calc(100vw - 930px);
        float: right;
    }
}


#st-clubhouse-body.clubhouse-mobile-app {
    .mobile-view-topbar-vue {
        height: 0px;
        a {
            display: none;
        }
    }
}



/* Enter and leave animations can use different */
/* durations and timing functions.              */
/*
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
 {
  transform: translateX(10px);
  opacity: 0;
}
*/



.always-show-scrollbars::-webkit-scrollbar {
    -webkit-appearance: none;
}

.always-show-scrollbars::-webkit-scrollbar:vertical {
    width: 11px;
}

.always-show-scrollbars::-webkit-scrollbar:horizontal {
    height: 11px;
}

.always-show-scrollbars::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /*border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.always-show-scrollbars::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 
